@import (reference) "../../assets/css/variables.css";

.empty_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #999;
}

.description {
  font-size: 14px;
}
