// 图片预览包裹容器
.image-preview-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 8px 0;

  img {
    cursor: zoom-in;
    max-height: 200px !important;
    margin: 0 !important;
    object-fit: cover;
    border-radius: var(--remons-markdown-border-radius, 8px);
    object-position: top;
  }
}