// 图片预览包裹容器
.image-preview-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: var(--remons-markdown-border-radius, 8px);
  border: 1px solid var(--remons-markdown-color-border,#e4e4e4);
  margin: 8px 0;

  img {
    width: 100% !important;
    object-fit: cover;
    object-position: top;
  }

  // 图片工具栏样式 - 定位在左上角
  .image-toolbar-wrapper {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 10;
    display: flex;

    .image-toolbar-btn {
      width: 24px;
      height: 24px;
    }
  }
}
