/**
 * BackTop 组件样式
 */

.back-top {
  position: fixed;
  right: 40px;
  bottom: 60px;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 500px) {
  .back-top {
    right: 30px;
    bottom: 40px;
    width: 30px;
    height: 30px;
  }
}