/**
 * BackTop 组件样式
 */

.back-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 1px solid var(--remons-markdown-color-button-border);
}

@media screen and (max-width: 500px) {
  .back-top {
    width: 30px;
    height: 30px;
  }
}