.tocToggle {
  position: fixed;
  right: 24px;
  top: 70px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--remons-markdown-color-button);
  border-radius: 50%;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--remons-markdown-color-button-border) !important;
  border-bottom: none !important;
  box-shadow: var(--remons-markdown-shadow-sm) !important;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 999;
  transition: all 0.2s;
  font-size: 16px;
  color: var(--remons-markdown-color-text);
}